@import "../layout/variables.scss";

.process-section {
    display: flex;
    padding: 1em;
    justify-content: center;
    margin-bottom: 1em;
    font-size: $font-size-h1-wide;
    gap: 1em;
    img {
        width: 100%;
    }
    .text-container {
        .head {
            font-size: 1em;
            display: flex;
            margin-bottom: 0.5em;
            h1 {
                font-size: 1em;
                text-wrap: nowrap;
            }
            span {
                margin-top: -0.4em;
                p {
                    border-radius: 20rem;
                    line-height: 2.2;
                    font-weight: 700;
                    color: black;
                    background-color: $gold;
                    padding: 0.5em;
                    font-size: 0.3em;
                }
            }
        }
        .tasks {
            font-size: 0.25em;
            display: flex;
            flex-direction: column;
            gap: 1em;

            .task {
                display: flex;
                align-items: center;
            }

            i {
                margin-right: 1em;
                font-size: 1.2em;
                line-height: 1;
                padding: 0.6em;
                border-radius: 20rem;
                color: $pink;
                background-color: $dark-gray;
            }

            @include respond-to("tablet") {
                font-size: 0.4em;
            }
            @include respond-to("mobile") {
                font-size: 0.25em;
            }
        }
        .foot {
            // margin-top: 0.5em;
            a {
                font-size: 0.25em;
                font-family: $primary-font;
                font-weight: 500;
                padding: 0.7em 1.4em;
                background-color: white;
                color: $dark;
                border-radius: 20rem;
                text-decoration: none;

                @include respond-to("tablet") {
                    font-size: 0.4em;
                }
                @include respond-to("mobile") {
                    font-size: 0.25em;
                }
            }
        }
    }
    @include respond-to("large") {
        font-size: $font-size-h1-large;
    }
    @include respond-to("tablet") {
        font-size: $font-size-h1-large;
        display: flex;
        flex-direction: column-reverse;
        padding: 0 0.5em;
    }
}
