@font-face {
    font-family: "Chillax";
    src: url(../../fonts/Chillax/Chillax-Extralight.otf);
    font-weight: 200;
}
@font-face {
    font-family: "Chillax";
    src: url(../../fonts/Chillax/Chillax-Light.otf);
    font-weight: 300;
}
@font-face {
    font-family: "Chillax";
    src: url(../../fonts/Chillax/Chillax-Regular.otf);
    font-weight: 400;
}
@font-face {
    font-family: "Chillax";
    src: url(../../fonts/Chillax/Chillax-Medium.otf);
    font-weight: 500;
}
@font-face {
    font-family: "Chillax";
    src: url(../../fonts/Chillax/Chillax-Semibold.otf);
    font-weight: 600;
}
@font-face {
    font-family: "Chillax";
    src: url(../../fonts/Chillax/Chillax-Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: "Manrope";
    src: url(../../fonts/Manrope/Manrope-ExtraLight.otf);
    font-weight: 200;
}
@font-face {
    font-family: "Manrope";
    src: url(../../fonts/Manrope/Manrope-Light.otf);
    font-weight: 300;
}
@font-face {
    font-family: "Manrope";
    src: url(../../fonts/Manrope/Manrope-Regular.otf);
    font-weight: 400;
}
@font-face {
    font-family: "Manrope";
    src: url(../../fonts/Manrope/Manrope-Medium.otf);
    font-weight: 500;
}
@font-face {
    font-family: "Manrope";
    src: url(../../fonts/Manrope/Manrope-SemiBold.otf);
    font-weight: 600;
}
@font-face {
    font-family: "Manrope";
    src: url(../../fonts/Manrope/Manrope-Bold.otf);
    font-weight: 700;
}
@font-face {
    font-family: "Manrope";
    src: url(../../fonts/Manrope/Manrope-ExtraBold.otf);
    font-weight: 800;
}
