@import "./variables.scss";
@import "./mixins.scss";

h1,
h2 {
    font-family: $primary-font;
    font-weight: 500;
}
h3,
h4,
h5,
h6 {
    font-family: $secondary-font;
    font-weight: 500;
}

h1 {
    font-weight: 500;
    font-size: $font-size-h1;
    line-height: 50px;
    color: $textcolor;

    @include respond-to("wide") {
        font-size: $font-size-h1-wide;
        line-height: 100px;
    }
    @include respond-to("large") {
        font-size: $font-size-h1-large;
        line-height: 70px;
    }
    @include respond-to("medium") {
        font-size: $font-size-h1;
        line-height: 50px;
    }
}

body {
    font-family: $secondary-font;
    background-color: $dark;
    color: $textcolor;
}
button {
    font-family: $primary-font;
    padding: 1em 2em;
    border-radius: 20em;
}
