// variables.scss
$dark: #121316;
$dark-gray: #1f2126;
$pink: #f4a4ec;
$dark-pink: #f373e6;
$gold: #e2d26c;
$dark-gold: #d9be11;
$green: #00b67a;

$textcolor: white;
$primary-font: "Chillax";
$secondary-font: "Manrope";
$font-size-h1: 48px;
$font-size-h1-large: 62px;
$font-size-h1-wide: 96px;

$breakpoints: (
    "mobile": 480px,
    "tablet": 768px,
    "medium": 1024px,
    "large": 1440px,
    "wide": 1920px
);
